google {
    lifeSciences.bootDiskSize = params.gls_boot_disk_size

    // Only set if provided by user. Otherwise don't set here - CloudOS will set correct values automatically.
    if (params.gls_preemptible) lifeSciences.preemptible = params.gls_preemptible
    if (params.zone) zone = params.zone
    if (params.network) network = params.network
    if (params.subnetwork) subnetwork = params.subnetwork
}

docker.enabled = true


params {
    errorStrategy = { task.attempt == process.maxRetries ? 'finish' : task.exitStatus in [3,9,10,14,143,137,104,134,139] ? 'retry' : 'finish' }
    executor = 'google-lifesciences'
}