docker.enabled = true

params {
    reference = "s3://lifebit-featured-datasets/projects/jax/splicing-pipelines-nf/Saccharomyces_cerevisiae.R64-1-1.dna.chromosome.I.fa.gz"
    annotation = "s3://lifebit-featured-datasets/projects/jax/splicing-pipelines-nf/genes.gtf"
    read_length_from = 50
    read_length_to = 150
    report_dir = "/opt/bin"
    index_n_bases = 8

    cpus = 2
    memory = 7.GB
    disk = 30.GB
}
